<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="api/*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile="\\?\c:\projects\trains-status\src\Playground\logs\suave.log" startupTimeLimit="20" processPath="C:\projects\trains-status\src\Playground\packages\FSharp.Compiler.Tools\tools\fsi.exe"
                  arguments="C:\projects\trains-status\src\Playground\app.fsx port=%HTTP_PLATFORM_PORT%">     
        </httpPlatform>
    </system.webServer>
</configuration>
