<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="api/*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform stdoutLogEnabled="false" stdoutLogFile="fake.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\packages\FSharp.Compiler.Tools\tools\fsi.exe"
                  arguments="%HOME%\site\wwwroot\app.fsx port=%HTTP_PLATFORM_PORT%">     
        </httpPlatform>
    </system.webServer>
</configuration>
