@border-color: #969696;

.header {
    h1 {
        display: inline-block;
        margin-left: 27px;
    }

    .logo {
        height: 50px;
        margin: -12px 10px 0 4px;
    }

    .user {

        float: right;
        margin-top: 22px;

        .username {

            margin-top: 12px;

            a {
                margin-left: 10px;

            }

        }

        a {
            color: black;
        }
    }
}

.travel-options {

    padding: 20px 15px 0 15px;
    color: lighten(black, 30%);
    margin-bottom: 0;

    .delayed {
        color: #DA0808;
        font-weight: bold;
    }

    .travel-option {
        border-top: 1px solid @border-color;
        padding: 10px 0 10px 0;

        .travel-option-description {
            padding-left: 0px;

            .stop-status{
                margin-right: 5px;
            }

            .departure-time {
                margin-left: 3px;
            }
        }
    }
}

.favourites.row{
    margin: 0px;
}

.favourites {

    .list-group-item {
        border-color: @border-color;
        padding: 20px 15px;
    }

    .list-group-item.expanded {
        padding-bottom: 5px;
    }

    .ok {
        background: #66FFCC;
    }

    .warning {
        background: #FFFF66;
    }

    .loading {
        background: #E8EEFB;
    }

    .direction-name {
        cursor: pointer;
        font-size: 1.2em;
    }

    a {
        cursor: pointer;
    }

    a span.glyphicon{
        color: black;
    }

    .remove-direction{
        text-align: right;
    }

    .same-as-origin {
        background-color: #eee;
        color:#777;
        cursor: not-allowed;

        .direction-name {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.origin {
    .station-name {
        font-weight: bold;
        margin-left: 5px;
    }

    .origin-buttons {

        display: inline;

        .btn {
            margin-left: 10px;
            margin-top: -4px;
        }
    }
}

.stations-selector{
    display: inline;

    .stations-dropdown{
        width: 250px;
        display: inline-block;
        vertical-align: bottom;
    }
}

.stations-selector.invalid .Select-value{
    background-color: rgba(255, 0, 0, 0.24)
}

.add-favourite-station {

    .stations-selector {
        margin-left: 10px;
    }

    a.btn {
        margin-left: 10px;
    }
}

.change-origin{
    font-size: 0.8em;

    .stations-selector {
        margin-left: 10px;
    }

    a.btn {
        margin-left: 10px;
    }
}
